# Port
PORT=3001

# Database
DATABASE_URL="postgresql://username:password@localhost:5432/farm_manager?schema=public"

# NextAuth
NEXTAUTH_SECRET="XjKMGiCb+kUlL4ly7ZDRAdKSje6aPULA99tMdOlV2YU="
NEXTAUTH_URL="http://localhost:3001"

SEED_DEFAULT_PASSWORD=mash8484
NODE_ENV=development